doctype html
html
  head(lang='en')
    title freeCodeCamp pomodoro challenge
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon" href="./../img/apple-touch-icon.png")
    link(rel="shortcut icon" href="./../img/favicon.ico")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='stylesheet', href='./css/app.css', type='text/css')

  body
    div.content
      div.header
        h1 Wetter in&nbsp;
          span.ccc#city

      div.column#app
        section.button.row1
          h3#description
          div
            img#wetterbild
          h3#temperatur

          div.card-btn
            a#fahrenheit(href="#") Fahrenheit&nbsp;
              strong &nbsp; °F
          div.card-btn
            a#celsius(href="#")  Celsius&nbsp;
              strong &nbsp; °C

      div.footer
        i.fa.fa-copyright(aria-hidden="true")
          span.ubuntu 2017 by Rudolf Vogel - An der Fleschermühle 14 - 87509 Immenstadt - rugead@gmail.com

  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
  script(type="text/javascript", src="js/dist/bundle.js")
